/*****************************************************TAG SELECTORS*****************************************************/

body {
    background-color: black;
    overflow-x: hidden;
    color: #F9B248;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
    color: #F9B248;
}

a:hover {
    color: #FC3A52;
    font-weight: bold;
}

nav {
    margin: auto;
}

/*****************************************************CLASS SELECTORS*****************************************************/

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.mobile-nav-toggle {
    display: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl(0 0% 0% / 0.3);
    backdrop-filter: blur(0.75rem);
    border-radius: 20px;
    border: #FC3A52 3px solid;
}

.primary-navigation a > [aria-hidden = "true"] {
    font-weight: 700;
    margin-inline-end: 0.75em;
}

.cert-row {
    padding: 30px;
    margin: 80px 7%;
}

.cert-desc {
    margin: auto;
    color: #E8D5B7;
}

.cert-img {
    width: 100%;
    margin: auto;
    border-radius: 20px;
}

.cert-img:hover {
    transform: scale(1.6);
    transition-duration: 0.5s;
}

.cert-title {
    font-size: 30px;
    font-weight: bold;
    color: #FC3A52;
}

.cert-org {
    font-size: 20px;
}

.cert-sub {
    font-size: 15px;
    font-weight: bold;
}



/*****************************************************ID SELECTORS*****************************************************/

#heading {
    margin: 40px auto;
    font-weight: bold;
    font-size: 50px;
    margin-top: 150px;
}

/*****************************************************MEDIA QUERIES*****************************************************/

@media (max-width: 1140px) {
    .primary-navigation {
        z-index: 1000;
        flex-direction: column;
        inset: 0 0 0 30%;
        position: fixed;
        padding: min(30vh, 10rem) 2em;
        --gap: 2em;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
        border: none;
        color: #f59506;
    }

    .primary-navigation[data-visible="true"] {
        transform: translate(0%);
    }

    .nav-no {
        color: #FC3A52;
        font-weight: bold;
    }

    .mobile-nav-toggle {
        display: block;
        z-index: 9999;
        position: absolute;
        aspect-ratio: 1;
        width: 2rem;
        top: 2rem;
        right: 2rem;
        background-color: white;
        border-radius: 10px;
        /* background: url('images/bars-solid.svg');
        background-repeat: no-repeat; */
        border: 0;
    }
}

@media (min-width: 40em) {
    .primary-navigation {
        padding: 2rem;
    }

    .primary-navigation li {
        padding-inline: clamp(3em, 10vh, 8em);
    }
}